*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image:url(/forms/universe.jpg) ;
    background-position:center ;
    background-size:cover ;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.card{
    background: rgbs(0,0,0,0.45);
    backdrop-filter: blur(8px);
    border-radius: 15px;
}